<h1>All Posts</h1>

<div class="container mt-5">
  <%= link_to 'New Post', new_post_path %>
  <% @posts.each do |post| %>
    <div class="row mb-4">
      <div class="col-md-6 offset-md-3">

        <%= render 'post_card', post: post %>

      </div>
    </div>
  <% end %>
</div>
